<div>
    <div>
    <!-- Nav bar with social medias -->
    <div class="navBar"> 
        <a href="#" class="socMed" >{% include icons/facebook.html %}</a>
        <a href="#" class="socMed" >{% include icons/insta.html %}</a>
        <a href="#" class="socMed" >{% include icons/twitter.html %}</a>
        <a href="#" class="socMed" >{% include icons/linkedin.html %}</a>
        <a href="#" class="searchRight socMed"><i>{% include icons/search.html %}</i></a>       
    </div>
    </div>
    <!-- end of Nav bar with social medias -->
    
    <!-- Content div -->
     <div> 
         <div class="mainrow">
         <header>
             <h1 class="main">Marta Gut</h1>
             <h5 class="underMain">Let's travel together</h5>
         </header>
         <!-- Big Image Header -->
         <div>
         <div class="imgContainer">
             <img class="image" src="img\imageHeader.jpg"  alt="imageHeader"/>
             <div class="imgText">
                   <h1 class="title"><span>My travelling experience</span></h1>
                   {% include subscribe.html %}
                   <button class="subscribebutt" type="button" value="button text" onclick="subClick();">Subscribe</button>
             </div>
         </div>
         </div>
         </div>
          <!--End of Big Image Header -->
     </div>
</div>