<!-- Grid system -->
        
<div class="gridsystem row">
    <div class="col-sm-8">
<div class="blogEntries">
     <!-- Firs Blog entry -->
    <div class="blogEntry">
     <div class='blogTitle'>
         <h4 class="tithead">China</h4>
         <h5 class='titleDesc'>Title description, <span class='light'>April 14th</span> </h5>
     </div>
     <div>
         <img src="ChinaBlog.jpg" alt="WorkinginChina" class="WorkChina" />
         <div class="blogContainer"> 
         <p> I am crazy about hats these days. Some text about
             this blog entry. Fashion fashion and mauris neque 
             quam, fermentum ut nisl vitae, convallis maximus nisl. 
             Sed mattis nunc id lorem euismod placerat. Vivamus porttitor
            magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non 
            congue ullam corper. Praesent tincidunt sedtellus ut rutrum. Sed vitae 
            justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
         <p>I am crazy about hats these days. Some text about
             this blog entry. Fashion fashion and mauris neque 
             quam, fermentum ut nisl vitae, convallis maximus nisl. 
             Sed mattis nunc id lorem euismod placerat. Vivamus porttitor
            magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non 
            congue ullam corper. Praesent tincidunt sedtellus ut rutrum. Sed vitae 
            justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
         </div>
         <div class="buttDiv">
         <button class="comments">Comments <span>2</span></button>
         <button class="thumbButt"><i class="fa fa-thumbs-up">Like</i></button>
         </div> 
     </div>
         <div class="pplComments">
             <hr>
             <img src="pictures/HappyMarta.JPG" alt="HappyMarta" class="commPic"/>
             <div class="avatarComm">
                 <h4>Marta <span class="postDate">April 12th, 7:11 PM</span></h4>
                 <p>Wow dude, great post! </p>
             </div>
         </div>
    </div>
    <!-- Second Blog entry -->
     <div class="blogEntry">
     <div class='blogTitle'>
         <h4 class="tithead">China</h4>
         <h5 class='titleDesc'>Title description, <span class='light'>April 14th</span> </h5>
     </div>
     <div>
         <img src="ChinaBlog.jpg" alt="WorkinginChina" class="WorkChina" />
         <div class="blogContainer"> 
         <p> I am crazy about hats these days. Some text about
             this blog entry. Fashion fashion and mauris neque 
             quam, fermentum ut nisl vitae, convallis maximus nisl. 
             Sed mattis nunc id lorem euismod placerat. Vivamus porttitor
            magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non 
            congue ullam corper. Praesent tincidunt sedtellus ut rutrum. Sed vitae 
            justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
         <p>I am crazy about hats these days. Some text about
             this blog entry. Fashion fashion and mauris neque 
             quam, fermentum ut nisl vitae, convallis maximus nisl. 
             Sed mattis nunc id lorem euismod placerat. Vivamus porttitor
            magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non 
            congue ullam corper. Praesent tincidunt sedtellus ut rutrum. Sed vitae 
            justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
         </div>
         <div class="buttDiv">
         <button class="comments">Comments <span>2</span></button>
         <button class="thumbButt"><i class="fa fa-thumbs-up">Like</i></button>
         </div> 
     </div>
         <div class="pplComments">
             <hr>
             <img src="pictures/HappyMarta.JPG" alt="HappyMarta" class="commPic"/>
             <div class="avatarComm">
                 <h4>Marta <span class="postDate">April 12th, 7:11 PM</span></h4>
                 <p>Wow dude, great post! </p>
             </div>
         </div>
    </div>
 </div>
 <!-- End of Blog entries -->
</div>
<!-- About me/Info -->   
<div>
<div class="col-sm-4">
 <!-- About me -->
 <div class="aboutMe">
     <img src="pictures/aboutMe.jpg" width="300" height="300" alt="aboutMe" class="aboutMePic"/>
     <div>
         <h2 class="grey">About Me</h2>
         <div class="whiteBox">
         <p>Travelling is a tool for beating the shit out of depression and anxiety, bureaucratism, capitalism,
             mediocracy, Hollywood stereotypes
         and everything that is wrong with this world.</p>
         </div>
     </div>
 </div>
<!-- End of About me/Info -->     
<!--Popular --> 
<div class="popular">
  <div>
      <h4 class="grey">Popular Posts</h4>
  </div>
  <div class="whiteBox">
      <ul class="list">
          <li>
              <img src="pictures/shanghai.jpg" width="200" height="200" alt="shanghai"/>
      <h5>Shangai</h5>
      <h6>Tiannamen square and bla bla bla</h6>
          </li>
          <li>
              <img src="pictures/Jinan.jpg" width="200" height="260" alt="Jinan"/>
      <h5>Ji'nan</h5>
      <h6>Tiannamen square and bla bla bla</h6>
          </li>
          <li>
              <img src="pictures/beijing.jpg" width="200" height="200" alt="beijing"/>
      <h5>Beijing</h5>
      <h6>Tiannamen square and bla bla bla</h6>
          </li>
      </ul>
  </div>
</div>
<!-- Advertisement -->
<div class="advertisement">
  <div>
      <h4 class="grey">Advertisement</h4>
  </div>
  <div class="whiteBox">
      <span>Your ad here</span>
  </div>
</div>
<!-- End of Advertisement -->
<!-- Tags -->
<div class="tags">
  <div>
      <h4 class="grey">Tags</h4>
  </div>
  <div class="whiteBox tagBox">
      <span>Food</span><span>Beer</span><span>Asia</span><span>Europe</span>
  </div>
</div>
<!-- End of tags -->
<!--Follow me  -->
<div class="followMe">
  <div>
      <h4 class="grey">Follow me</h4>
  </div>
  <div class="whiteBox">
      <a href="#" class="followMeButt"><i class="fa fa-facebook-official"></i></a>
      <a href="#" class="followMeButt"><i class="fa fa-instagram"></i></a>
      <a href="#" class="followMeButt"><i class="fa fa-snapchat-square"></i></a>
      <a href="#" class="followMeButt"><i class="fa fa-flickr"></i></a>
      <a href="#" class="followMeButt"><i class="fa fa-twitter-square"></i></a>
      <a href="#" class="followMeButt"><i class="fa fa-linkedin-square"></i></a>
      <a href="#" class="followMeButt"><i class="fa fa-search"></i></a>       
  </div>
</div>              
<!--End of Follow me  -->
<!--Subscribe  -->
<div class="subscribe">
  <div>
      <h4 class="grey">Subscribe</h4>
  </div>
  <div class="whiteBox">
      <p>Enter your email address if you want to get notified on my latest stories.</p>
      <form>
          <input type="email" placeholder="Your email"><br>
          <button class="subscribeTwo">Subscribe</button>
      </form>
  </div>
</div>
<!--End of Subscribe  -->
</div>
</div>
<!-- End of Grid system -->
</div>
<!-- End of Content div -->